# MILESTONE 2

## Name : Muhammad Irsyad Rafif
## Batch : HCK-013

## Objective:

The goal of this project is to analyze bank churner by classifying them with the approptiate model with an end outcome to make a model that will perdict if the potential customer or current customer will churn or not.


========================================================================================================================================

## Import Liblaries

In [1]:
# Load Liblaries
import pandas as pd
import json
import pickle
import numpy as np

Liblaries has been sucsesfully loaded

## Model Interference

### Data Loading

In [2]:
with open("model.pkl", 'rb') as model:
  model = pickle.load(model)

### Load and Make New Data

In [3]:
# Set data to read csv
data = pd.read_csv("BankChurners.csv")

# change data into a dataframe
df = pd.DataFrame(data)

Load Data to pick a random row from the dataset

In [4]:
# Select a random row
random_row = df.sample(n=1)

# Assign a variable to the selected row
selected_data = random_row.values.flatten()

# Save the selected row to a new CSV file
selected_row_df = pd.DataFrame([selected_data], columns=df.columns)
selected_row_df.to_csv('selected_row_data.csv', index=False)

In [5]:
# Drop Attrition_Flag so it does not go into our model prediction
selected_row_df = selected_row_df.drop('Attrition_Flag', axis=1)

Attrition_Flag has been dropped from the table

In [6]:
# Show model results
selected_row_df

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,721014858,61,1,0,Graduate,Married,Less than $40K,Blue,53,4,1,2,2942.0,2022,920.0,0.537,1479,28,0.217,0.687

Load data and drop Attrition_Flag to be perdicted using our model.

In [7]:
# Make Prediction
status = model.predict(selected_row_df)

# Make an if statment for each result
if status[0] == 1.00:
  print(f"User has/will not use our credit card any longer")
else:
  print(f"User is still an active user")

User is still an active user

After prediction we can see that the the user result is 0 which means that they are still an active user.